body {
  background-color: #f6f9fc;
  font-family: "Segoe UI", sans-serif;
  overflow-x: hidden;
}

.card {
  border-radius: 12px;
}

.nav-link.active {
  background-color: #e8f0ff;
  font-weight: 600;
}
.table th,
.table td {
  vertical-align: middle;
}
